
body{
    text-align:center;
    margin:50px 0px;
    padding:0px;
    background-image: url(../Downloads/landscape-nature-water-1284296.jpg);
    background-repeat: no-repeat;
    background-attachment:fixed;
    background-size: cover;
   
}
table,th,td{
    margin-left:35%;
    border:4px solid black;
    border-collapse: collapse;
    padding:36px;
    table-layout: auto;
    background-color: #53A7DD;
    font-size:100%;
    color: black;
}
/* CSS property for header section */
 .header {
 background-color:white;
 padding: 15px;
 text-align:center;
 }
 /* CSS property for navigation menu */
 .nav_menu {
 overflow: hidden;
 background-color:rgb(119, 37, 118) ;
 }
 .nav_menu a {
 float: left;
 font-family: Arial, Helvetica, sans-serif;
 display: block;
 color:white;
 font-weight: bold;
 text-align: center;
 padding: 14px 16px;
 text-decoration: none;
 }
 .nav_menu a:hover {
 background-color: rgb(143, 95, 171);
 color: rgb(44, 23, 82);
 }
 .footer{
 
 background-color:white;
 padding: 15px;
 text-align:center;
 }

